.jumbotron img {
    width: 200px;
    border: 5px solid #666;

}
hr {
    width: 250px;
    border-top: 4px solid;
}
.thumbnail a>img, .thumbnail>img {
    height: 200px;
    width: 150%;
    
}
@media screen and (max-width: 768px) {
    .thumbnail a>img, .thumbnail>img {
        height: 400px;
        width: 100%;
    }
}

.p {
    margin: 20px;
}